@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/image1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.Navbar {
  color: 'white';
}


.navbar-style  {
  height: '100px';
  margin-left: '10%';
  margin-right: '10%';
  background-color: 'rgba(0,0,0,0.0)';
};


.brand-style {
  color: 'white';
  font-size: '27px';
};

.brand-style-small  {
  color: 'white';
  font-size: '15px';
}

.logo-style {
  height: '60px';
}

/* Home Pagwe */

.home-div {
  max-width: 900px;
  margin-top: 100px;

}

.title-span {
  font-size: 125px;
  margin-left: 10%;
}
 .paragraph-span {
  font-size: 20px;
  margin-left: 15%;

 }

 .home-button {
    margin-left: 25%;
    border-radius: 0% !important;
    background-color: rgba(255, 0, 0, 0.541) !important;
    padding-right: 45px !important;
    padding-left: 45px !important;
    padding-top: 17px !important;
    padding-bottom: 17px !important;
    border: none;
    letter-spacing: 2px;
 }

 .home-button>span {
   font-size: 20px;
 }
 

 /* Projects */

.project-wrapper {
  max-width: 900px;
  margin-top: 25px !important;
  margin: auto;
  text-align: center;
  background-color: rgba(22, 20, 20, 0.842);
  /* height: 90vh; */
  border-radius: 5%;
}

.project-title {
  font-size: 45px;
}

.project-image {
  width: 300px;
  height: 300px;
}

@media (max-width: 500px) {
  .navbar .navbar-brand {
    margin: auto;
   
  }

  .navbar-nav{
    margin: auto;

  }

  .title-span {
    font-size: 50px !important;
    margin: auto !important;
  }

  .paragraph-span {
    margin: auto !important;
    margin-top: 25px !important
   }

   .home-button {
    margin: auto !important;
    margin-top: 45px !important
   }

}

@media (max-width: 850px) {
  .navbar {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .navbar .navbar-brand>div {
    margin-left: 0 !important;
    margin-right: 0 !important;
    }

  .navbar-nav>a {
    margin: 5px !important;

  }

  .title-span {
    font-size: 75px;
  }
   .paragraph-span {
    font-size: 20px;  
    margin: 0 5%;
   }

   .home-button {
    margin-top: 20px;
    border-radius: 0% !important;
    padding-right: 18px !important;
    padding-left: 18px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border: none;
    letter-spacing: 0;
 }

 .home-button>span {
   font-size: 20px;
 }

}